/* --------------
--- CSS RESET ---
----------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------
--- STYLING ---
--------------- */

/*-- Positioning --*/
.top {
	position: absolute;
	top: 50px;
}

.left {
	position: absolute;
	left: 50px;
}
.right {
	position: absolute;
	right: 50px;
	text-align: right;
}

.center-ver {
	position: absolute;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;
}

.lower-third {
	position: absolute;
	top: 82%;
	height: 200px;
	margin-top: -100px;
	line-height: 100px;	
}

.center-hor {
	position: absolute;
	right: 50px;
	left: 50px;
	text-align: center;	
}

.bottom {
	position: absolute;
	bottom: 50px;
}

/*-- Fonts --*/
@font-face {
  font-family: 'Quicksand';
  src: url('/static/font/Quicksand-Regular.otf');
}

/*-- General --*/
html, body {
	background-color: black;
	color: white;
	font-family: 'Quicksand';
}

hr {
	opacity: 0.3;
}

/*-- Time --*/
.timer-hour, .timer-min {
	font-size: 5.5em;
}

.time-colon {
	font-size: 4.4em;
	margin-right: 5px;
}

.timer-suffix {
	font-size: 2.5em;
	text-transform: uppercase;
}

.full-date {
	font-size: 2em;
	letter-spacing: .2em;
}

/*-- Weather --*/
.weather-container .wi {
	margin: 6px 4px;
}

.current-temp-container {
	font-size: 3.2em;
	margin-bottom: 10px;
}

.prob-rain-container {
	font-size: 2em;
}

.weather-separator {
	width: 70%;
	text-align: right;
	margin-right: 0;
}

.hourly-change-container {
	font-size: 1.4em;
}

.hourly-change-label {
	opacity: 0.5;
}

.weekly-forecast-container {
	font-size: 1.4em;
}

.day-label {
	opacity: 0.5;
}

/*-- Quote --*/
.quote-content {
	font-size: 1.8em;
	line-height: 150%;
}
.quote-author {
	font-size: 1.3em;
	margin-top: -5px;
	font-style: italic;
}

/*-- Ticker --*/
.marquee-divider {
	width: 15%;
}

.marquee {
	font-size: 1.2em;
    width: 100%;
    overflow: hidden;
}
.marquee li {
    display: inline-block;
    padding: 0 10px;
}



